.card {
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: space-between;
  max-width: 500px;
  background-color: #f2f2f2;
  padding: 0.8rem;
  border: 1px solid #666;
}

.cardTitle {
  font-size: 16px;
}

.done {
  text-decoration: line-through;
}

.buttonsWrapper {
  display: flex;
  display: flex;
  align-items: center;
  gap: 13px;
}